@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

body {
  background-color: goldenrod;
}

#container {
  margin: 25px 175px;
  display: grid;
  grid-template-columns: repeat(4, 1.5fr);
  grid-auto-rows: minmax(225px, auto);
  grid-gap: 20px;
}

.projectImage {
  padding: 5px 10px;
  // margin: 25px;
  margin: 5px;
  text-align: center;
  background-size: cover;
  background-position: center;
  border-radius: 50px;
}

#long-row {
  grid-row: span 2;
}

#mid-row {
  grid-row: span 1.5;
}
