@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

body {
  background-color: goldenrod;
}

#container {
  display: grid;
}

.projectImage {
  padding: 5px 10px;
  // margin: 25px;
  margin: 5px;
  text-align: center;
  width: 225px;
  height: 225px;
  background-size: cover;
  background-position: center;
  border-radius: 50px;
}
